.container {
    border-style: solid;
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    border-width: 0.1px;
}

.gridSquare {
    border-style: solid;
}